<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Yireo_DeleteAnyOrder2::overview" resource="Yireo_DeleteAnyOrder2::overview" title="Delete Any Order" action="deleteanyorder/index/index" module="Yireo_DeleteAnyOrder2" sortOrder="90" parent="Magento_Backend::system_tools" dependsOnModule="Magento_Backend"/>
    </menu>
</config>
