<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="deleteanyorder" frontName="deleteanyorder">
            <module name="Yireo_DeleteAnyOrder2"/>
        </route>
    </router>
</config>
